{%extends "base.html"%}
{%block title%}
This is contactpage
{%endblock title%}
{%block body%}
<div class="container">
    <div class="image-group">
        <div class="backgroundimage">
            <img src="static/slider/2.jpg" >
        </div>
    </div>
</div>
<br><br>
<div class="container">
        <form action="" method="post">
         {% csrf_token %}
         <div class="row">
           <div class="col">
             <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="firstname">
           </div>
           <div class="col">
             <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="lastname">
           </div>
           <div class="col">
             <input type="submit" value="submit">
           </div>  
         </div>
        </form>  
</div>  
<div class="container">
         <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
           <p class="col-md-4 mb-0 text-muted">&copy; 2022 Company, Inc</p>
       
           <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
             <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
           </a>
       
           <ul class="nav col-md-4 justify-content-end">
             <li class="nav-item"><a href="" class="nav-link px-2 text-muted">Home</a></li>
             <li class="nav-item"><a href="blog" class="nav-link px-2 text-muted">Blog</a></li>
             <li class="nav-item"><a href="contact" class="nav-link px-2 text-muted">Contact</a></li>
             <li class="nav-item"><a href="faqs" class="nav-link px-2 text-muted">FAQs</a></li>
             <li class="nav-item"><a href="about" class="nav-link px-2 text-muted">About</a></li>
           </ul>
         </footer> 
</div>  
                 
{%endblock body%}